@model gitgudclone.Models.MessagesModel

<div id="textColor" class = "form-group">
    @Html.HiddenFor(m => m.userEmail)
</div>

<div id="textColor" class = "form-group">
    @Html.LabelFor(m => m.recipientEmail)
    @Html.TextBoxFor(m => m.recipientEmail, new{@readonly="readonly", @class = "form-control"})
</div>

<div id="textColor" class = "form-group">
    @Html.LabelFor(m => m.subjectLine)
    @Html.TextBoxFor(m => m.subjectLine, new{@class = "form-control"})
    @Html.ValidationMessageFor(m => m.subjectLine)
</div>

<div id="textColor" class = "form-group">
    @Html.LabelFor(m => m.textBody)
    @Html.TextAreaFor(m => m.textBody, new{@class = "form-control"})
    @Html.ValidationMessageFor(m => m.textBody)
</div>