@model gitgudclone.Models.MessagesModel

<div class = "form-group">
    @Html.LabelFor(m => m.userEmail)
    @Html.TextBoxFor(m => m.userEmail, new{@readonly="readonly"})
</div>

<div class = "form-group">
    @Html.LabelFor(m => m.recipientEmail)
    @Html.TextBoxFor(m => m.recipientEmail, new{@readonly="readonly"})
</div>

<div class = "form-group">
    @Html.LabelFor(m => m.subjectLine)
    @Html.TextBoxFor(m => m.subjectLine, new{@class = "form-control"})
    @Html.ValidationMessageFor(m => m.subjectLine)
</div>

<div class = "form-group">
    @Html.LabelFor(m => m.textBody)
    @Html.TextBoxFor(m => m.textBody, new{@class = "form-control"})
    @Html.ValidationMessageFor(m => m.textBody)
</div>