@model gitgudclone.Models.PostQueueModel

<div class = "form-group">
    @Html.LabelFor(q => q.authorEmail)
    @Html.TextBoxFor(q => q.authorEmail)
</div>

<div class = "form-group">
    @Html.LabelFor(q => q.postBody)
    @Html.TextBoxFor(q => q.postBody, new{@class = "form-control"})
    @Html.ValidationMessageFor(q => q.postBody)
</div>