@model gitgudclone.Data.ApplicationDbContext

<title>@ViewData["Title"] GitGud - Messages</title>

@* TODO - Update list to iterate backwards so new messages appear first *@


<table id="tableBackground" class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Time</th>
      <th scope="col">Subject</th>
      <th scope="col">From</th>
    </tr>
  </thead>
    <tbody>
      @foreach (MessagesModel message in @Model.messagesList)
      {
        @if(message.recipientEmail == User.Identity.Name)
        {
          <tr>
            @if(message.isRead == false)
            {
              <th scope="row">
              @if(@message.isRead == false)
              {
                <span id="unread">Unread</span>
              }
              else{
                <span>Read</span>
              }
              </th>

              <td>@message.messageDate</td>

              <td><a asp-area="" asp-controller="gitgud" asp-action="viewmessagedetails" asp-route-messageID = "@message.id">@message.subjectLine</a></td>

              <td>@message.userEmail</td>
              }
          </tr>
        }
      }
    </tbody>
</table>    
@* =================================================================================================================== *@


<table id="tableBackground" class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Time</th>
      <th scope="col">Subject</th>
      <th scope="col">From</th>
  </thead>
    <tbody>
      @foreach (MessagesModel message in @Model.messagesList)
      {
        @if(message.recipientEmail == User.Identity.Name)
        {
          <tr>
            @if(message.isRead == true)
            {
              <th scope="row">
              @if(@message.isRead == false)
              {
                <span>Unread</span>
              }
              else{
                <span>Read</span>
              }
              </th>

              <td>@message.messageDate</td>

              <td><a asp-area="" asp-controller="gitgud" asp-action="viewmessagedetails" asp-route-messageID = "@message.id">@message.subjectLine</a></td>

              <td>@message.userEmail</td>
              }
          </tr>
        }
      }
    </tbody>
</table>    