@model gitgudclone.Models.MessagesModel

<title>@ViewData["Title"] GitGud - Message Details</title>

<partial name = "_messagesDisplay" model = "@Model"/>

<a asp-area="" asp-controller="gitgud" asp-action="deletemessageconf" asp-route-messageID = "@Model.id">
    <button id="buttonSpace" class="btn btn-outline-danger">Delete</button>
</a>

<a asp-area="" asp-controller="gitgud" asp-action="addmessageform" asp-route-recipientEmail = "@Model.userEmail" asp-route-userEmail = "@Model.recipientEmail">
    <button id="buttonSpace" class="btn btn-outline-success">Reply</button>
</a>