@model gitgudclone.Models.PostsModel

<h1>Post Details</h1>

<partial name="_postsDisplay" model="@Model" />

@if(User.Identity.Name == @Model.userEmail)
{
    <a asp-area="" asp-controller="gitgud" asp-action="editpostform" asp-route-postID="@Model.id">
        <button>Edit Title</button>
    </a>

    <a asp-area="" asp-controller="gitgud" asp-action="deletePostconf" asp-route-postID="@Model.id">
        <button>Delete Post</button>
    </a>

    <a asp-area="" asp-controller="gitgud" asp-action="addstepform" asp-route-postID="@Model.id">
        <button>Add Step</button>
    </a>

    @foreach (StepsModel step in @Model.postSteps)
    {
        <a asp-area="" asp-controller="gitgud" asp-action="editstepform" asp-route-stepID="@step.id">
            <button>Edit Step @step.id</button>
        </a>

        <a asp-area="" asp-controller="gitgud" asp-action="deletestepconf" asp-route-stepID="@step.id">
            <button>Delete Step @step.id</button>
        </a>
    }
}
else{
    <a asp-area="" asp-controller="gitgud" asp-action="addmessageform" asp-route-recipientEmail = "@Model.userEmail" asp-route-userEmail = "@User.Identity.Name">
        <button>Send Message to Poster</button>
    </a>
}
    
    <a asp-area="" asp-controller="gitgud" asp-action="pdf" asp-route-postID = "@Model.id", new { target = "_blank" })>
        <button>Open PDF</button>
    </a>