@model gitgudclone.Data.ApplicationDbContext

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Read</th>
      <th scope="col">From</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
    <tbody>
      @foreach (MessagesModel message in @Model.messagesList)
      {
        @if(message.recipientEmail == User.Identity.Name)
        {        
          <tr>    
@* FIX ME: currently only able to create link if text in row is surrounded by anchor tag instead of whole row *@
              <th scope="row">
               @if(@message.isRead == false)
              {
                <span>Unread</span>
              }
              else{
                <span>Read</span>
              }
              </th>

              <td><a asp-area="" asp-controller="gitgud" asp-action="viewmessagedetails" asp-route-messageID = "@message.id">@message.userEmail</a></td>

              <td><a asp-area="" asp-controller="gitgud" asp-action="viewmessagedetails" asp-route-messageID = "@message.id">@message.textBody</a></td>    
          </tr>
        }
      }
    </tbody>
</table>
    
    